@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --img-profile: #8257e5;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1a202c;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100vw;
  height: 100vh;
}

.card-container,
.container-button {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-container {
  gap: 20px;
}

.card {
  background-color: #3a3f56;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 600px;
  padding: 20px;
  border-radius: 30px;
}

.profile {
  /*Imagem*/
  position: absolute;
  top: 120px;
  right: -50px;
}

.profile img {
  width: 300px;
  height: 300px;
  border: 5px solid var(--img-profile);
  border-radius: 50%;
}

.infos {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 89%;
  position: absolute;
  bottom: 60px;
  text-align: start;
  background: linear-gradient(
    145deg,
    rgba(37, 37, 37, 0.8) 0%,
    rgba(26, 32, 44, 0.8) 35%,
    rgba(51, 55, 74, 0.8) 100%
  );
  border-radius: 30px;
  backdrop-filter: blur(5px);
  gap: 5px;
}

.followers,
.following,
.repositories,
.work,
.city {
  display: flex;
  align-items: center;
}

.followers img,
.following img,
.repositories img,
.work img,
.city img {
  padding-right: 10px;
}
/*
.card {
  -webkit-box-shadow: 10px 10px 20px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 10px 10px 20px 0px rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 20px 0px rgba(255, 255, 255, 1);
}
*/
.container-customize {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button button {
  padding: 5px;
  font-size: large;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.borda,
.fundo,
.texto {
  display: flex;
}
